<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>HSR Guestbook</title>
  <link rel="shortcut icon" href="/assets/img/icon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/icon.png" alt="face logo" /></a>
    <div class="navlink">Hello, {{ username }}!</div>
    <div class="navlink" id="logout"><a href="/logout">Log out</a></div>
  </nav>
  <div class="navstrip">
    <div class="navlink"><a href="/findChars">Team Add</a></div>
    <div class="navlink"><a href="/maker">OC Maker</a></div>
  </div>

  <section id="app">

  </section>

  <small>Note: This is for official characters! For making OCs, please check <a href="/maker">Maker</a></small>

  <div id="charMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <img id="char" src="assets/img/wrong_pompom.png" alt="pompom" />
  </div>
  </div>
  <script src="/assets/finderBundle.js"></script>
</body>

</html>